@page
@model ps.Pages_Clientes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<button type="button" onclick="window.location.href = '@Url.Page("Create")'" class="btn btn-primary">Cadastrar Cliente</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].NmCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Cidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cliente) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NmCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
